<mat-tab-group
  [selectedIndex]="selected.value"
  (selectedIndexChange)="selected.setValue($event)"
  (selectedTabChange)="tabChanged()"
  dynamicHeight
  mat-align-tabs="center"
>
  <mat-tab label="Simple search">
    <app-simple-search-form></app-simple-search-form>
  </mat-tab>
  <mat-tab label="Advanced search">
    <app-advanced-search-form></app-advanced-search-form
  ></mat-tab>
  <mat-tab label="Geo search">
    <app-geo-search-form></app-geo-search-form
  ></mat-tab>
  <mat-tab label="Form access by time of day"
    ><app-chart [type]="'time'" [chart]="chart"></app-chart
  ></mat-tab>
  <mat-tab label="Form access by city">
    <app-chart [type]="'city'" [chart]="chart"></app-chart>
  </mat-tab>
  <mat-tab label="Logout"></mat-tab>
</mat-tab-group>
