<div class="container">
  <div class="search">
    <div class="search-field">
      <form>
        <label for="city-name">City Name</label>
        <input type="text" placeholder="Ex Los Angeles.." />
        <label for="radius">Radius</label>
        <input type="number" min="1" placeholder="Ex 100.." />
        <label for="measure-unit">Measure unit</label>
        <mat-select placeholder="Choose one">
          <mat-option value="km">Kilometers</mat-option>
          <mat-option value="m">Meters</mat-option>
          <mat-option value="mi">Miles</mat-option>
        </mat-select>
        <button type="button" class="btn-search">SEARCH</button>
      </form>
    </div>
  </div>
  <div class="content">desni deo</div>
</div>
